* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    margin: 20px;
    font-family: Arial, sans-serif;
}

input,
button {
    margin: 5px;
    padding: 5px;
    border-radius: 10px;
    border: 1px solid #ccc;
}

table {
    width: 100%;
    margin-top: 10px;
    border-collapse: collapse;
}

th, td {
    border: 1px solid grey;
    padding: 8px;
    text-align: left;
}

th {
    background-color: beige;
}

